- hosts: localhost
#  vars:
#     username: ansible_user_id
  become: false
#  pre_tasks:
#    - name: update repositories (Ubuntu)
#      apt:
#        update_cache: yes
#        allow_unauthenticated: yes
#      changed_when: false
#      when: ansible_distribution == 'Ubuntu'

  tasks:
    - name: get the username running the deploy
      become: false
      local_action: command whoami
      register: username
    - include_tasks: tasks/ubuntu_oh-my-zsh.yml
      vars:
        uname: "{{ username.stdout }}"
    - include_tasks: tasks/user_config-files.yml